/* ************************************ */
/* inicio de Scss de la página busqueda */
/* ************************************ */


.force {
    height: 100%;
    min-height: 300px;
    max-width: 95%;
}

.found {
max-width: 100%;
min-width: 25rem;
}